{
  "accounts": [
    {
      "alias": "primary",
      "username": "PUT_USERNAME_HERE",
      "password": "PUT_PASSWORD_HERE"
    },
    {
      "alias": "secondary",
      "username": "PUT_USERNAME_HERE",
      "password": "PUT_PASSWORD_HERE"
    }
  ]
}
